.layout-default-page {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 56px);
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}
